<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFgH0MBb0UEgXgKk6rnyZy0pNFfRaXiFM</string>
	<key>GCM_SENDER_ID</key>
	<string>11519895134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.cs.loyola.RecWell-App</string>
	<key>PROJECT_ID</key>
	<string>loyolarecwellapp</string>
	<key>STORAGE_BUCKET</key>
	<string>loyolarecwellapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11519895134:ios:ceab14611e51311ab536cf</string>
	<key>DATABASE_URL</key>
	<string>https://loyolarecwellapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>